.navbarStyle {
    background-color: rgba(89, 155, 114, 0.959);
}

.linkStyle {
    text-decoration: none;
    margin-left: 20px;
    color: #000;
    font-size: 25px;
    font-style: normal;
}

.linkStyle:hover {
    background-color: rgba(30, 223, 223, 0.37);
    padding: 1px;
    border-radius: 5px;
    text-decoration: none;
}